In [1]:
import rdflib

In [2]:
g = rdflib.Graph()
g.load('semsys_rdf.rdf', format='xml')

In [4]:
"""
Return every restaurant which are located in Vienna with a Rating above 4.0 and italian or asian cuisine ordered by their name:
"""
for row in g.query(
            """
            select ?name ?rat ?rank where {?s poi:isLocatedIn 'Vienna' .
                             ?s poi:hasName ?name .
                             ?s poi:hasRating ?rat .
                             ?s poi:hasCuisine ?cuisine .
                             ?s poi:hasRank ?rank
                             FILTER(?rat > '4.0')
                             FILTER(?cuisine in ('italian', 'asian'))
                             }
                             ORDER BY ?name
                             LIMIT 10
                             """):
        print(f"Restaurant name: {row[0]} \nRating: {row[1]}\nRank: {row[2]}")
        print("="*20)

Restaurant name: AROI THAI Restaurant
Rating: 4.5
Rank: 215.0
====================
Restaurant name: Aera
Rating: 4.5
Rank: 453.0
====================
Restaurant name: Akasaka Sushi Bar
Rating: 4.5
Rank: 1304.0
====================
Restaurant name: Al Borgo
Rating: 4.5
Rank: 12.0
====================
Restaurant name: Alfredo Ristorante Trattoria
Rating: 4.5
Rank: 461.0
====================
Restaurant name: Alla Salute Pizzeria
Rating: 4.5
Rank: 719.0
====================
Restaurant name: Annam Restaurant
Rating: 4.5
Rank: 1116.0
====================
Restaurant name: Arcobaleno- Trattoria di Massimo
Rating: 4.5
Rank: 1679.0
====================
Restaurant name: Asia Restaurant Ju Xin Yuan
Rating: 5.0
Rank: 1864.0
====================
Restaurant name: Asia Restaurant Yang
Rating: 5.0
Rank: 1788.0
====================

In [5]:
"""
Return every restaurant which contain pizza in their name and have a rating above 4.0:
"""
for row in g.query(
            """
            select distinct ?name ?location where {?s poi:isLocatedIn ?location .
                             ?s poi:hasName ?name .
                             ?s poi:hasRating ?rat .
                             ?s poi:hasCuisine ?cuisine .
                             FILTER(?rat > '4.0')
                             FILTER(?cuisine in ('italian', 'asian'))
                             filter contains(?name,"Pizza")
                             }
                             ORDER BY ?name
                             LIMIT 10
                             """):
        print(f"Restaurant name: {row[0]} \nLocation: {row[1]}")
        print("="*20)

Restaurant name: 100gr Coffee & Pizza
Location: Rome
====================
Restaurant name: 1n1 Fashion n Pizza
Location: London
====================
Restaurant name: Al Paradiso della Pizza
Location: Milan
====================
Restaurant name: Alice Pizza
Location: Rome
====================
Restaurant name: Alice Pizza - Via Flavia 91
Location: Rome
====================
Restaurant name: Alice Pizza - Via Marche 21
Location: Rome
====================
Restaurant name: Alice Pizza Tintoretto
Location: Rome
====================
Restaurant name: Amo Pizza
Location: Milan
====================
Restaurant name: Andy Capp Pizza
Location: Rome
====================
Restaurant name: Arcobaleno Pizza E Kebab
Location: Rome
====================

In [25]:
"""
Return every restaurant and their listed cuisines respectively which are located in London and offer vegan food:
"""
for row in g.query(
            """
    select ?name ?location (group_concat(?cuisine; separator=", ") as ?cuisines) where {
      ?s poi:hasName ?name;
             poi:isLocatedIn 'London';
             poi:hasCuisine ?cuisine;
             BIND('London' as ?location)
             {
                 select ?name where {?s poi:hasCuisine ?veg FILTER contains(?veg, 'vegan')}
             
             }
    }
    group by ?name ?location ?cuisines
    LIMIT 10
                   """):
        print(f"Restaurant name: {row[0]} \nLocation: {row[1]}\nCuisines: {row[2]}")
        print("="*20)

Restaurant name: Aquavit
Location: London
Cuisines: vegan options, european, scandinavian, norwegian, contemporary, vegetarian friendly, swedish
====================
Restaurant name: Afternoon Tea at One Aldwych
Location: London
Cuisines: vegetarian friendly, gluten free options, british, vegan options
====================
Restaurant name: The Greenhouse
Location: London
Cuisines: vegetarian friendly, vegan options, french
====================
Restaurant name: Raka Fine Indian Cuisine
Location: London
Cuisines: asian, indian, vegan options, balti, bangladeshi, vegetarian friendly
====================
Restaurant name: Mora Restaurant
Location: London
Cuisines: european, vegan options, gluten free options, italian, mediterranean, vegetarian friendly
====================
Restaurant name: Sticks'N'Sushi Covent Garden
Location: London
Cuisines: japanese, vegetarian friendly, gluten free options, vegan options, sushi, asian
====================
Restaurant name: Romulo Cafe
Location: London
Cuisines: asian, gluten free options, vegetarian friendly, vegan options, fusion, filipino
====================
Restaurant name: The Providores
Location: London
Cuisines: fusion, vegetarian friendly, international, european, gluten free options, vegan options
====================
Restaurant name: Chai Naasto Hammersmith
Location: London
Cuisines: street food, vegetarian friendly, indian, vegan options, asian, gluten free options
====================
Restaurant name: La Saporita
Location: London
Cuisines: vegan options, vegetarian friendly, pizza, mediterranean, italian
====================